<h2>Welcome, <%= current_user.username %></h2>
<% if flash.has?(:message) %>
<%= flash[:message] %>
<% end %>
<h3>Vacation Recommendations</h3>
<ul>
<% @vacations.each_with_index do |vacation, index| %>
<a href='/vacations/<%=vacation.id%>'><li><%= index+1 %>. <%= vacation.location_name %></li></a>
<%end%>
</ul><br><br>
<button onclick="window.location.href = '/vacations/new';">Create New Vacation Recommendation</button>
<button onclick="window.location.href = '/logout';">Logout</button>
