Location Name: <%= @vacation.location_name %><br>
Description: <%= @vacation.description %><br>
Best Time to Visit: <%= @vacation.best_time %><br>
Reason it's Special: <%= @vacation.reason %><br>
Link to Photo/Website: <%= @vacation.photo_link %><br><br>

<form action="/vacations/<%=@vacation.id%>/delete" method="post">
<input id="hidden" type="hidden" name="_method" value="DELETE">
<input type="submit" value="Delete Recommendation">
</form>
<button onclick="window.location.href = '/vacations/<%=@vacation.id%>/edit';">Edit Recommendation</button>
<button onclick="window.location.href = '/vacations';">Show All Recommendations</button>
